<% layout("/layouts/boilerplate") %>
<body>
    <br><br>
    <h2>Edit Listing</h2>
    <div class="row" style="width: 100%;font-size: 22px;">
        <div class="col-8 offset-2">
    <form method="post" action="/listings/<%=id.id%>?_method=patch" class="needs-validation" novalidate enctype="multipart/form-data">        
        <div class="mb-4" ><label for="title" class="form-label" >Title : </label>
        <input type="text" placeholder="enter title" name="listing[title]" class="form-control" value="<%=data.title%>" required>
        <div class="invalid-feedback" >Enter valid details</div>
        </div>
        <div class="mb-4" ><label for="description" class="form-label" >description : </label>
        <textarea name="listing[description]" placeholder="enter description"  class="form-control" rows="4" cols="8" required><%=data.description%></textarea>
        <div class="invalid-feedback" >Enter valid details</div>
        </div>
        <label for="A">current Image :</label>
        <div ><img style="height: 20rem" src="<%=data.image.url%>" alt="" name="A"></div>



        <div class="mb-3" ><label for="img" class="form-label" >Upload Listing Image</label>
        <input type="file"  name="listing[img]" id="img" class="form-control"  ></div>
        <div class="row">
        <div class="mb-4 col-4" ><label for="price" class="form-label" >price :</label>
        <input name="listing[price]" type="number" placeholder="enter price" class="form-control" value="<%=data.price%>" required>
        <div class="invalid-feedback" >Enter valid details</div>
        </div>
        <div class="mb-4 col-8" ><label for="country" class="form-label" >country :</label>
        <input type="text" name="listing[country]" placeholder="enter country" class="form-control" value="<%=data.country%>" required>
        <div class="invalid-feedback" >Enter valid details</div>
        </div>
        </div>
        <div class="mb-4" ></div>
        <label for="location" class="form-label" >location :</label>
        <input type="text" name="listing[location]" placeholder="enter location" class="form-control" value="<%=data.location%>" required>
        <div class="invalid-feedback" >Enter valid details</div>
        
        <br><br><button class="btn btn-dark add-btn" >Edit</button></div>
    </form>
</div>
</div>

    
</body>
